* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Blue-600: hsl(185, 75%, 39%);
    --Navy-950: hsl(229, 23%, 23%);
    --Gray-500: hsl(227, 10%, 46%);


    --Gray-100: hsl(225, 10%, 92%);
}

body {
    background-color: var(--Blue-600);
   height: 100vh;



    font-family: "Kumbh Sans", sans-serif;


    overflow: hidden;


}

.background img {
    max-width: 100%;
    max-height: 100%;

}

.background-top {
    width: 140vw;
    position: absolute;
    left: -80vw;
    top: -70vw;
    z-index: -100;
}

.background-bottom {
    width: 130vw;
    position: absolute;
    right: -80vw;
    bottom: -70vw;
    z-index: -90;
}





@media (min-width:769px) {}