/* 
I Learn Here:
    1-How i fix the bug of overflow because the background-img size
         with : make a container and put in it the all backgrounds-img

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Blue-600: hsl(185, 75%, 39%);
    --Navy-950: hsl(229, 23%, 23%);
    --Gray-500: hsl(227, 10%, 46%);


    --Gray-100: hsl(225, 10%, 92%);


    --image-size: 100px;
}

body {
    background-color: var(--Blue-600);
    height: 100vh;
    width: 100vw;

    font-size: 18px;


    font-family: "Kumbh Sans", sans-serif;



    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

}

/* Here is the first problem */
.img-wrapper {
    height: 100vh;
    width: 100%;


    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}





.container {
    border-radius: 15px;
    width: 340px;
    min-height: 350px;
    overflow: hidden;

    position: relative;


    /* border: 2px solid black; */

}


.avatar {
    width: var(--image-size);
    height: var(--image-size);
    border: 5px solid var(--Gray-100);
    background-image: url(../assets/images/image-victor.jpg);
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%);

}



.container>.img-part {
    width: 100%;
    min-height: calc(350px / 2.5);
    overflow: hidden;

    background-image: url(../assets/images/bg-pattern-card.svg);

    /* border: 2px solid red; */

}

.container>.img-part>img {
    width: 100%;
    height: 100%;
    border: 2px solid;
}

.container>.content-part {
    width: 100%;
    height: 100%;

    border: 1px solid transparent;
    background-color: var(--Gray-100);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.background img {
    max-width: 100%;
    max-height: 100%;

}

:root {
    --backimgsize: 150vw;
}

.background-top {
    width: var(--backimgsize);
    position: absolute;
    left: -105vw;
    top: -70vw;
    z-index: -100;
}


.background-bottom {
    width: var(--backimgsize);
    position: absolute;
    right: -100vw;
    bottom: -70vw;
    z-index: -90;
}

.hr-line {
    width: 100%;
    height: 1.5px;
    background-color: var(--Navy-950);
    opacity: 0.1;

    margin: 20px auto auto;
}


.cont-stat {
    width: 90%;
    display: flex;
    justify-content: space-around;

    padding-top: 20px;
    padding-bottom: 20px;
}


.name {
    margin-top: -35px;
    font-weight: 600;
    margin-bottom: 5px;

}

.name span {
    all: unset;
    font-size: inherit;

    opacity: 0.8;

    font-weight: 400;
    font-size: smaller;
    margin-left: 5px;

    display: inline;
}

.name+p,
.stat+p {
    font-weight: 400;
    opacity: 0.8;
    font-size: smaller;
    margin-bottom: 5px;
}


.name,
.stat {
    font-weight: 700;
    font-size: 18px;

}


.stat {
    margin-bottom: 3px;
}

.stat+p {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}




@media (min-width:769px) {}